body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.caixa {
  width: 400px;
  background: #dedede url(imagens/topo.png) no-repeat left top;
}

.caixa h2 {
  padding: 10px 20px 0 20px;
}

.caixa p {
  background: url(imagens/baixo.png) no-repeat left bottom;
  padding: 0px 20px 20px 20px;
}

/*  




*/

.caixa2 {
  width: 400px;
  background: #dedede url(imagens/topo2.png) no-repeat left top;
}

.caixa2 h2 {
  padding: 10px 20px 0 20px;
}

.caixa2 p {
  background: url(imagens/baixo2.png) no-repeat left bottom;
  padding: 0px 20px 20px 20px;
}

/*  




*/

.caixa3 {
  width: 400px;
  background: #dedede url(imagens/fundo-arredondamento.png) repeat-y;
}

.caixa3 h2 {
  padding: 10px 20px 0 20px;
  background: url(imagens/topo2.png) no-repeat left top;
}

.caixa3 .ultimo {
  background: url(imagens/baixo2.png) no-repeat left bottom;
  padding: 10px 20px 20px 20px;
}

.caixa3 p {
  padding: 0 20px;
}
