body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #f2f2f2;
}

table {
  width: 600px;
  border-collapse: collapse;
  border-bottom: 1px solid #111;
}

th,
td {
  padding: 7px;
}

th {
  text-transform: uppercase;
  border-top: 1px solid #999;
  border-bottom: 1px solid #111;
  text-align: left;
  font-size: 90%;
  letter-spacing: 0.1em;
}

#cor2 {
  color: orange;
}

#cor2:hover {
  color: #111;
}

tr.alternado {
  background-color: #e3e2e2;
}

tr:hover {
  color: #111;
  background-color: orange;
}

.numero {
  text-align: right;
}
